<div class="content">
		<div class="contact-profile">
			<img src={{reciver?.avatar}} alt="" />
			<p>{{reciver?.username}}</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul id="board">
				
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" placeholder="Write your message..." (keyup.enter)="newMessage($event.target.value)"/>
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit" (click)="sendButtonClicked()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
